# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

# OS
.DS_Store
Thumbs.db

# Visual Studio / Rider
.vscode/
.vs/
.idea/
*.sln
*.csproj
*.unityproj
*.user
*.userprefs

# Build output
*.apk
*.aab
*.exe
*.app

# Unity Cache Server
/Library/ScriptAssemblies/

# Asset Store tools
/Assets/AssetStoreTools*

# Crash reports
sysinfo.txt
